/*----  content  ----*/

.Content {
	background: white;
	border-radius: 7px;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 10px;
}

.ContentPadding {
	margin-left: 480px;
	margin-right: 480px;
	padding: 2em;
    padding-top: 0.2em;
	height: 100%;
	position: relative;
	width: 680px;
}